<div class="main_chat_header">
  <div class="header-title">Room1</div>
  <div class="close-btn"><a href="#">チャットを終了する</a></div>
</div>

<div class="main_chat_message">
  <div class="messages">
    <div class="post-info">
      <div class="post-user">ユーザー1</div>
      <div class="post-date">2022-10-19(Wed) 12:43:30</div>
    </div>
      <div class="post-text">おはよう</div>
  </div>
  
  <div class="messages">
    <div class="post-info">
      <div class="post-user">User2</div>
      <div class="post-date">2022-10-19(Wed) 12:43:30</div>
    </div>
      <div class="post-text">Hi</div>
  </div>

</div>

<div class="main_chat_form">
  
  <div class="input-body">
    <input type="text" class="input-message" placeholder="type a message">
    <label class="input-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
    </label>
  </div>

  <input type="submit" class="send-btn" value="送信">

</div>