/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

/*************************************
      index
*************************************/

.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
}

/*　サイドバー　*/
.side_bar{
  width: 300px;
  background-color: #253141;
}

/*　サイドバー　上部　*/
  .side_bar_header{
    height: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    .user-name a{
      font-size: 16px;
      text-decoration: none;
      color: #FAFAFA;
    }

    .create-btn a{
      font-size: 10px;
      border: 1px solid lightblue;
      padding: 14px;
      text-decoration: none;
      color: deepskyblue;
    }

/*　サイドバー　下部　*/
  .side_bar_room{
    height: calc(100vh - 100px);
    background-color: #2F3E51;
    padding: 0 20px;
    overflow: scroll;
  }

    .room-list{
      padding-top: 20px;
    }

    .room-name{
      padding-bottom: 40px;
    }

    .room-name a{
      text-decoration: none;
      color: white;
    }

/*　メイン画面　*/
.main_chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

/*　メイン画面　上部　*/
  .main_chat_header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }

    .header-title{
      font-size: 24px;
      color: #333;
      margin-top: 36px;
    }

    .close-btn{
      margin-top: 40px;
    }

    .close-btn a{
      text-decoration: none;
      color: darkred;
      border: 1px solid darkred;
      padding: 20px;
    }

/*　メイン画面　真ん中　*/
  .main_chat_message{
    height: calc(100vh - 190px);
    background-color: #FAFAFA;
    padding: 46px 40px 0;
    overflow: scroll;
  }

    .post-info{
      display: flex;
      padding: 10px 0;
    }

      .post-user{
        color: #434A54;
        font-size: 16px;
        padding-right: 10px;
      }

      .post-date{
        color: #999;
        font-size: 12px;
      }
    
    .post-text{
      color: #434A54;
      font-size: 14px;
      margin-bottom: 40px;
    }

/*　メイン画面　下部　*/
  .main_chat_form{
    height: 90px;
    background-color: #DDDDDD;
    padding: 20px 40px;
    display: flex;
  }

    .input-body{
      background-color: white;
      width: 100%;
      display: flex;
    }

    .input-message{
      width: 100%;
      height: 50px;
      border: none;
      padding-left: 10px;
    }

    .input-image {
      font-size: 12px;
      background-color: lightblue;
      color: white;
      padding: 12px;
      width: 60px;
      margin: 5px 10px;
      text-align: center;
    }
    
    .hidden {
      display: none;
    }

    .send-btn{
      height: 50px;
      background-color: #38AEF0;
      border: none;
      color: white;
      font-size: 16px;
      padding: 0 20px;
      margin-left: 15px;
    }

    .field_with_errors {
      display: contents;
    }